<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>安手账-注册</title>
    <link href="http://img.lazyan.top/img/favicon.ico" rel="SHORTCUT ICON">
    <!-- Bootstrap -->
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var data4Vue = {
                uri:'addregister',
                result: [],
                account:{mailbox:'', password:'', repeatpassword:''},
            };
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                methods: {
                    register:function(){
                        var url =  this.uri;
                        var regEmail= /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                        if(0==this.account.mailbox.length){
                            $("span.errorMessage").html("请输入注册邮箱");
                            $("div.registerErrorMessageDiv").addClass("MessageDiv");
                            return;
                        }else if(!regEmail.test(this.account.mailbox)){
                            $("span.errorMessage").html("邮箱格式不对");
                            $("div.registerErrorMessageDiv").addClass("MessageDiv");
                            return;
                        }

                        if(0==this.account.password.length){
                            $("span.errorMessage").html("请输入密码");
                            $("div.registerErrorMessageDiv").addClass("MessageDiv");
                            return;
                        }
                        if(0==this.account.repeatpassword.length){
                            $("span.errorMessage").html("请输入重复密码");
                            $("div.registerErrorMessageDiv").addClass("MessageDiv");
                        }
                        if(this.account.password !=this.account.repeatpassword){
                            $("span.errorMessage").html("重复密码不一致");
                            $("div.registerErrorMessageDiv").addClass("MessageDiv");
                            return;
                        }

                        axios.post(url,this.account).then(function(response) {
                            var result = response.data;
                            if(result.code==0){
                                alert("注册成功！")
                                location.href="index";
                            }
                            else{
                                $("span.errorMessage").html(result.message);
                                $("div.registerErrorMessageDiv").addClass("MessageDiv");
                            }
                        });
                    }
                }
            });
        })
    </script>
</head>
<body>
<div class="container main">
    <div class="register-box" id="workingArea">
        <div class="registerErrorMessageDiv">
            <span class="errorMessage"></span>
        </div>
        <h1>Welcome to ANtechou</h1>
        <div class="register-row">
            <input class="txtb" type="text" v-model="account.mailbox" placeholder="注册邮箱" />
        </div>
        <div class="register-row">
            <input class="txtb" type="password" v-model="account.password" placeholder="设置你的登陆密码">
        </div>
        <div class="register-row">
            <input class="txtb" type="password" v-model="account.repeatpassword" placeholder="请再次输入你的密码">
        </div>
        <div class="register-btnP">
            <a @click="register" class="login-btn ">Sign up</a>
            <a class="login" href="/login">Sign in</a>
        </div>
    </div>
</div>
</body>
</html>