body {
    background: linear-gradient(#66ccff, #00ffcc);
    font-family: "Microsoft YaHei";
    height: 100vh;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cf:after {
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
    clear: both;
}

.cf {
    zoom: 1;
}

.main {
    height: 100vh;
}

.login-box,
.register-box {
    text-align: center;
    padding: 50px 30px 50px;
    margin: 8em auto 0;
}

.login-box，register-box h1 {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.login-row,
.register-row {
    margin: 10px 0px;
}

.txtb {
    margin: auto;
    width: 240px;
    display: block;
    box-sizing: border-box;
    background: #ffffff28;
    border: 1px solid white;
    padding: 10px 20px;
    color: #000;
    outline: none;
    border-radius: 6px;
    text-align: center;
}

.login-btnP,
.register-btnP {
    margin: 20px;
}

.login-btnP a,
.register-btnP a {
    display: block;
    width: 120px;
    margin: auto
}

.login-btnP a:hover,
.register-btnP a:hover {
    color: #fff;
    text-decoration: none;
}

.register,
.login {
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000 !important;
}

.login-btn {
    background: #2c3e50;
    border: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.loginErrorMessageDiv,
.registerErrorMessageDiv,
.addbillErrorMessageDiv,
.updatebillErrorMessageDiv,
.usereditErrorMessageDiv,
.typeErrorMessageDiv {
    display: none;
}

.MessageDiv {
    display: block !important;
}

.errorMessage {
    display: block;
    width: 200px;
    height: 30px;
    background-color: #ffebeb;
    border: 1px solid #faccc6;
    font-size: 18px;
    color: #e4393c;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    margin: 10px auto;
}

/* 注册页面 */
.register-box {
    width: 480px;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

/* 主要页面 */
.nav {
    height: 50px;
    background-color: #4781fe;
}

.nav .btn-group {
    float: left;
    margin: 10px;
}

.container-nav {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;


}

.wel-text {
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    float: right;
}

.wel-text p {
    float: left;
}

.banner {
    height: 340px;
}

.ui-li {
    height: 60px;
    border: 2px solid #778899;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
}

.add-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
}

.add-icon img {
    width: 60px;
    height: 60px;
}

.list-left {
    float: left;
}

.list-left-up {
    font-size: 16px;
    line-height: 30px;
}

.list-left-down {
    font-size: 14px;
    line-height: 20px;
    color: #778899
}

.list-right {
    float: right;
    text-align: right;
}

.list-right-up {
    font-weight: bold;
    font-size: 20px;
}

.ui-li .btn-group {
    float: right;
    margin: 10px;
}

/* 新增账单页面 */
.addbill-box {
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.ie_btn label {
    border: 2px solid #66ccff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}

.one_btn label {
    border: 2px solid red;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}

.two_btn label {
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}

.amount_inp {
    margin: 10px;
    line-height: 30px;
}

.amount_inp1 {
    width: 80px;
    box-sizing: border-box;
    background: #ffffff28;
    border: 1px solid white;
    color: #000;
    outline: none;
    border-radius: 6px;
}

.rmakes_inp {
    margin: 10px;
    line-height: 30px;
}

.rmakes_inp1 {
    width: 280px;
    box-sizing: border-box;
    background: #ffffff28;
    border: 1px solid white;
    color: #000;
    outline: none;
    border-radius: 6px;
}

.date_inp {
    margin: 10px;
    line-height: 30px;
}

.sub_inp {
    margin: 10px;
    line-height: 30px;
}

.sub_inp a {
    display: block;
    width: 80px;
    background: #2c3e50;
    border: 0;
    color: white;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.one_btn,
.two_btn {
    display: none;
}

/* 用户修改页面 */
.username_btn {
    margin: 10px;
    line-height: 30px;
}

.username_inp1 {
    width: 120px;
    box-sizing: border-box;
    background: #ffffff28;
    border: 1px solid white;
    color: #000;
    outline: none;
    border-radius: 6px;
}

.gender_btn label {
    border: 2px solid #66ccff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}

.introduction_btn {
    margin: 10px;
    line-height: 30px;
}

.introduction_inp1 {
    width: 280px;
    box-sizing: border-box;
    background: #ffffff28;
    border: 1px solid white;
    color: #000;
    outline: none;
    border-radius: 6px;
}

/* 分类管理 */
.list-left-id {
    font-weight: bold;
    line-height: 60px;
    font-size: 20px
}

.list-right-type {
    font-weight: bold;
    line-height: 60px;
    font-size: 20px
}

.addtype {
    margin: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.addtype_txt {
    width: 280px;
    box-sizing: border-box;
    background: #ffffff28;
    border: 1px solid white;
    color: #000;
    outline: none;
    border-radius: 6px;

}
.ie_type_btn label {
    border: 2px solid #66ccff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}